[flake8]
exclude =
  src/* # src directory is generated during build, and then cleared.
  src/**/*

ignore =
  E501 # line too long
  E722 # do not use bare 'except'
  W503 # line break before binary operator
  W504 # line break after binary operator
