[flake8]
exclude = .eggs, src/multiprocess
  # src/multiprocess is on Travis, but not in my local checkout.

ignore =
  E203 # whitespace before
  E265 # block comment should start with '# '
  E501 # line too long
  E704 # multiple statements on one line (def)
  E711 # comparison to None should be 'if cond is not None:'
  E712 # comparison to True should be 'if cond is True:' or 'if cond:'
  E713 # test for membership should be 'not in'
  E722 # do not use bare 'except'
  E731 # do not assign a lambda expression, use a def
  E999 # SyntaxError: invalid syntax
  F401 # imported but unused
  F632 # use ==/!= to compare str, bytes, and int literals
  F633 # use of >> is invalid with print function
  F811 # redefinition of unused
  F821 # undefined name
  F841 # local variable is assigned to but never used
  W291 # trailing whitespace
  W292 # no newline at end of file
  W293 # blank line contains whitespace
  W391 # blank line at end of file
  W504 # line break after binary operator
