[flake8]
exclude =
  .eggs
  src/multiprocess # on Travis, but not in my local checkout.
  clodius/cli/__init__.py
  clodius/cli/aggregate.py
  clodius/cli/convert.py
  clodius/cli/utils.py
  clodius/tiles/bed2ddb.py
  clodius/tiles/bedarcsdb.py
  clodius/tiles/beddb.py
  clodius/tiles/bedfile.py
  clodius/tiles/bigwig.py
  clodius/tiles/chromsizes.py
  clodius/tiles/cooler.py
  clodius/tiles/density.py
  clodius/tiles/files.py
  clodius/tiles/format.py
  clodius/tiles/geo.py
  clodius/tiles/hitile.py
  clodius/tiles/imtiles.py
  clodius/tiles/mrmatrix.py
  clodius/tiles/multivec.py
  clodius/tiles/nplabels.py
  clodius/tiles/npmatrix.py
  clodius/tiles/npvector.py
  clodius/tiles/points.py
  clodius/tiles/time_interval.py
  clodius/tiles/utils.py
  notebooks/Aggregating an array.ipynb
  notebooks/ENSEMBL annotations and RNAseq.ipynb
  notebooks/h37rv gene annotations.ipynb
  pyprof.sh
  scripts/exonU.py
  scripts/gff_to_chromsizes.py
  scripts/gff_to_genepred.py
  scripts/replace_importances.py
  scripts/tsv_to_mrmatrix.py
  setup.py
  test/bedfile_test.py
  test/cli_test.py
  test/mrmatrix_test.py
  test/multivec_test.py
  test/tiles/bed2ddb_test.py
  test/tiles/bedarcsdb.py
  test/tiles/beddb_test.py
  test/tiles/bigwig_test.py
  test/tiles/cooler_test.py
  test/tiles/density_test.py
  test/tiles/files_test.py
  test/tiles/hitile_test.py
  test/tiles/multivec_test.py
  test/tiles/npmatrix_test.py
  test/tiles/npvector_test.py
  test/tiles/time_interval_test.py
  test/tsv_to_mrmatrix_test.py
  test/utils.py
  test.py

ignore =
  E203 # whitespace before
  E265 # block comment should start with '# '
  E501 # line too long
  E711 # comparison to None should be 'if cond is not None:'
  E712 # comparison to True should be 'if cond is True:' or 'if cond:'
  E713 # test for membership should be 'not in'
  E722 # do not use bare 'except'
  E731 # do not assign a lambda expression, use a def
  E999 # SyntaxError: invalid syntax
  F401 # imported but unused
  F632 # use ==/!= to compare str, bytes, and int literals
  F633 # use of >> is invalid with print function
  F811 # redefinition of unused
  F821 # undefined name
  F841 # local variable is assigned to but never used
  W291 # trailing whitespace
  W292 # no newline at end of file
  W293 # blank line contains whitespace
  W391 # blank line at end of file
  W504 # line break after binary operator
