COMMANDS
old

npm-debug.log
.DS_Store
clodius/fast.cpython-35m-darwin.so
clodius/fast.so
tmp
checkpoint
*~
*.swn
*.swo
*.swp
*.tiles
*.pyc
/data
output.tar
profile.dat
profile.png
output/
aws_keys.py
.ipynb_checkpoints/
/build
/dist
.idea/
clodius.egg-info
.eggs
clodius/*.c
*.so
docs/_templates
docs/_static
docs/_build
