Cython
negspy
numpy
# Pinning necessary here to avoid compilation errors in 0.9.1.4
pysam==0.9.1.3
requests
h5py
pybedtools
argparse
pandas
slugid
sortedcontainers
nose
pyBigWig
ipdb

# Cooler
-e git://github.com/scottx611x/cooler@develop#egg=cooler
# Multiprocess
-e git://github.com/uqfoundation/multiprocess@02c1480e3e0a8d6740a2234f1f757d8d90dc7705#egg=multiprocess
